<footer id="footer" class="sixteen columns">
  <div class="container">
   <p>
     上海丽笔电子商务有限公司<br>
     营业执照注册号码 : 310120002555594<br>
     证照编号：26000000201411110044<br>
     所在地：上海市奉贤区环城西路3111弄555号3幢－995<br>
     <a href="mailto:info@tripvi.com">info@tripvi.com</a><br>
     <a href="callto:070-7014-3010">070-7014-3010</a>
   </p>
  </div>
</footer>
